<style type="text/css">

.hiza {

	text-align: center;
}


</style>

<div class="hiza">
<h1> Book Information </h1>

<hr>
<center>
<% @books.each do |book| %>
<p style="border-style:solid;border-radius:25px;border-color:grey;font-size:20px;width:200px;">
buraya resim <br>
		
	
<strong> <%=link_to book.name, book_path(book) %></strong> <br>
	
<strong> <%= book.year %></strong> <br>

<% end %>

</p>
</center>
</div>
