<style type="text/css">

.hiza {

	margin-left: 30px;
}


</style>

<div class="hiza">
<h1>Books on This Categories </h1><hr>

<% @category.books.each do |book| %>
buraya resim <br>
   <%=link_to book.name, book_path(book) %> <br>
  <%= book.topic %> <br>
  <%= book.year %> <br><br>
  

<% end %>
</div>