<h3> Listing Books on This Categories </h3>

<% @category.books.each do |book| %>
  <strong>Book Name : </strong> <%=link_to book.name, book_path(book) %> <br>
  <strong>Book Topic : </strong> <%= book.topic %> <br>
  <strong>Book Year : </strong> <%= book.year %> <br>
  <hr>

<% end %>
